.autenticacao{
    display: grid;
    width: 90%;
    margin: auto;
}
.autenticacaoOcultar{
    display: none;
}
.campoAutenticacao{
    display: grid;
    width: 150px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
}

.campoAutenticacaoOcultar{
    display: none;
}
.links{
    display: none;
}

.linksExibir{
    display: grid;
}
.abrirLink{
    cursor: pointer;
}

.prova{
    display: none;
}

.provaExibir{
    display: grid;
}
